{{ partial "header.html" . }}
<div id="header">
	<div class="top">
		<div id="logo">
			<span class="image "><img src="image/logo.png" alt="" /></span>
			<h1 id="title">{{ .Site.Params.title }}</h1>
		</div>
		<nav id="nav">
			<ul>
				<li><a href="#top" id="top-link" class="skel-layers-ignoreHref">Inicio</a></li>

                {{ range .Data.Pages.ByWeight }}
                  <li>{{ if isset .Params "link" }}<a class="skel-layers-ignoreHref" href="{{ index .Params "link" }}"{{else}}<a href="#{{ .File.TranslationBaseName }}"{{end}}>{{ if .GetParam "menuname" }}{{ .GetParam "menuname" }}{{ else }}{{ .Title }}{{ end }}</a></li>
                {{ end }}
			</ul>
		</nav>
	</div>
	<div class="bottom">
		<ul class="icons">
		  {{ range .Site.Params.social }}
		  <li><a href="{{ .link }}" class="icon fa-{{ .icon }}"><span class="label">{{ .medium }}</span></a></li>
		  {{ end }}
		</ul>
	</div>
</div>

<div id="main">
	<section id="top" class="one dark cover">
        <div class="container">
            <header>
                <h2 class="alt">{{ .Site.Params.title }}.</h2>
                <p>{{ .Site.Params.description }}
            </header>
            <footer>
                <a href="#portfolio" class="button scrolly">Más información</a>
            </footer>
        </div>
    </section>

    {{ range .Data.Pages }}
      {{ .Render "onepagestyle" }}
    {{ end }}
</div>
{{ partial "footer.html" . }}
